$navBgColor: #eee;
$white: #ffffff;
$black: #000000;
$_282828: #282828;
$_FAF5EB: #faf5eb;
$_F6F6F6: #f6f6f6;
$_E6F1FA: #e6f1fa;
$_0057B7: #0057b7;
$brandACtaColor: #d2b99b;
$brandBCtaColor: #0057b7;
